.container {
    display: grid;
    grid-template: auto / repeat(1, 1fr);
    grid-gap: 50px;
    background-color: #f0f0f0;
    padding: 50px;
}

.hide {
    display: none;
}

@media (min-width: 640px) {
    .container {
        grid-template: auto / repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .container {
        grid-template: auto / repeat(3, 1fr);
    }
}



