.search {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.search-input,
.search-btn {
    font-size: 1.5rem;
    padding: 5px;
}

.search-input {
    border-radius: 7px 0 0 7px;
}

.search-btn {
    border-radius: 0 7px 7px 0;
}

.search-btn:hover {
    color: #fff;
    background-color: #ffe601;
}